@import "@styles/mixins";

.container {
	font-family: $base-font;
	font-style: normal;
	font-weight: normal;
	display: flex;
	flex-direction: column;
}

.content {
	padding: $header-height 0 0 0;
	width: 100%;
	max-width: $content-max-width;
	margin: 0 auto;
	&.full-width {
		max-width: unset;
	}
	&.fixed-height {
		overflow: hidden;
	}
}

// .backward_btn {
//   margin: 0 auto;
//   width: 100%;
//   max-width: 80vw;
//   @include desktop {
//     padding-top: 36px;
//   }
//   @include laptop {
//     max-width: 1220px;
//     padding: 36px 40px 4px 40px;
//   }
//   @include mobile {
//     padding: 18px 20px 2px 20px;
//   }
// }
