@import "@styles/mixins";

.cnt {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	&.active {
		visibility: visible;
		opacity: 1;
		transition: opacity ease 0.25s;
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 998;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.modal_con {
	position: relative;
	z-index: 998;
	max-width: 500px;
	min-width: 300px;
	min-height: 100px;
	width: 50%;
	padding: 20px;
	border-radius: 5px;
	background: #fff;
	& .contents {
		padding: 20px 0;
	}
	@include mobile {
		width: 100%;
		max-width: unset;
	}
}

.modal_head {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	& .close {
		position: absolute;
		top: 0;
		left: 0;
		font-size: inherit;
		color: inherit;
	}
}

.modal_wrap.active .modal_con {
	position: relative;
	z-index: 999;
	max-width: 500px;
	min-width: 300px;
	min-height: 100px;
	width: 33%;
	padding: 20px;
	border-radius: 5px;
	background: #fff;
	transform: translateY(0px);
}
