@import "@styles/mixins";

.cnt {
	> * {
		margin-bottom: 12px;
	}
	display: flex;
	flex-direction: column;
}

.item {
	display: inherit;
	flex-direction: column;
	input,
	textarea,
	a {
		padding: 0;
		margin: 0;
		font-size: 0.8rem;
	}

	input,
	textarea {
		outline: none;
		border: 1px solid $base-color;
	}
	input {
		height: 1.5rem;
	}
	textarea {
		height: 12rem;
		resize: vertical;
		max-height: 25rem;
	}

	&.read_only {
		input,
		textarea {
			border: none;
		}
	}
}
