@import "@styles/mixins";

.cnt {
	> * {
		margin-bottom: 0.5rem;
	}
	display: flex;
	flex-direction: column;
}

.item {
	display: inherit;
	flex-direction: column;
	input,
	textarea {
		outline: none;
		border: 1px solid $base-color;
	}
	input {
		height: 1.5rem;
	}
	textarea {
		height: 12rem;
		resize: vertical;
		max-height: 25rem;
	}
	> * {
		margin-bottom: 4px;
	}
	&.read_only {
		input,
		textarea {
			border: none;
		}
	}
}
